header .container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

header .container h1 {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}

.active {
    color: black !important;
}

.novBar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mainSection {
    padding: 100px 200px;
}


.mainBox{
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.mainBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box{
    background-color: green;
    grid-row: span 2;
}

.largeBox {
    grid-row: span 3;
    background-color: green !important;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

p{
    color: rgba(0, 0, 0, 0.5);
}


